<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Profile</title>
  <link rel="stylesheet" href="/CSS/adminProfile.css" />
</head>
<body>
  <div class="navbar">
    <a href="index.html">
      <img src="/IMAGES/logo.png" alt="Logo" class="logo" />
    </a>
    <a href="index.html" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="black"
        class="bi bi-box-arrow-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
        />
        <path
          fill-rule="evenodd"
          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
        />
      </svg>
    </a>
  </div>

  <div class="profile-container">
    <div class="profile-pic">
      <!-- Profile image or fallback to default -->
      <img
        src="<%= admin.profileImagePath ? admin.profileImagePath : '/IMAGES/default-profile.png' %>"
        alt="Profile Picture"
        class="profile-img"
      />
    </div>

    <h2>My Profile</h2>

    <form id="adminProfileForm">
      <div class="form-group">
        <label for="name">Full Name</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= admin.name %>"
          disabled
        />
        <button type="button" class="edit-btn" data-target="name">Edit</button>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= admin.email %>"
          disabled
        />
        <button type="button" class="edit-btn" data-target="email">Edit</button>
      </div>

      <div class="form-group">
        <label for="mobile">Mobile No.</label>
        <input
          type="text"
          id="mobile"
          name="mobile"
          value="<%= admin.mobile %>"
          disabled
        />
        <button type="button" class="edit-btn" data-target="mobile">Edit</button>
      </div>

      <div class="form-group">
        <label for="adminCode">Admin Code</label>
        <input
          type="text"
          id="adminCode"
          name="adminCode"
          value="<%= admin.adminCode %>"
          disabled
        />
      </div>

      <div class="form-group">
        <label for="academicYear">Academic Year</label>
        <input
          type="text"
          id="academicYear"
          name="academicYear"
          value="<%= admin.academicYear %>"
          disabled
        />
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= admin.username %>"
          disabled
        />
        <button type="button" class="edit-btn" data-target="username">Edit</button>
      </div>

      <button type="submit" class="submit-btn" disabled>Submit</button>
    </form>
  </div>

  <script src="/JS/adminProfile.js"></script>
</body>
</html>
